h1,h2,h3{
    color:goldenrod;
    background-color: black;
}

*{
    background-color: black;
    color:white;
}
.author{
    font-size: x-large;
    color:gold;
    background-color: black;
}
#finished{
    font-size: x-large;
    font-weight: 900;
}